@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --dark-blue: #184366;
  --light-green: #0e987d;
  --light-blue: #5ab3c4;
  --yellow: #e8b20f;
  --orange: #e95b37;
  --OffWhite: #f8f8f8;
}

*,
*::before,
*::after {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.header {
  background-color: var(--dark-blue);
  border-bottom: 2px solid var(--yellow);
}
.header__menu ul {
  display: flex;
  list-style: none;
}

.header__menu ul li a {
  text-decoration: none;
  color: var(--OffWhite);
  padding: 1.5rem;
  text-transform: uppercase;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 4fr 8fr;
  width: 100vw;
  margin: auto;
  padding: 1rem 0;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  width: 150px;
  height: auto;
}
/* 
==========================================================================
  Highlight Section 
========================================================================== 
*/
.banner {
}

.banner__wrapper {
  display: grid;
  grid-template-columns: 9fr 3fr;
  height: 800px;
}

.banner__col-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner__col-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner_alert-two,
.banner_alert-one {
  width: 100%;
  height: 50%;
  border-left: 2px solid var(--OffWhite);
}

.banner_alert-one {
  border-bottom: 2px solid var(--OffWhite);
}

.banner__highlight {
  height: 100%;
}

.bg-img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__highlight,
.banner_alert-one,
.banner_alert-two {
  position: relative;
}

.banner__text {
  position: absolute;
  top: 89%;
  z-index: 100;
  padding: 0.8rem;
  padding-left: 2rem;
}
.banner_alert-one .banner__text,
.banner_alert-two .banner__text {
  position: absolute;
  top: 80%;
}

.banner__text h2 {
  letter-spacing: 1px;
  font-size: 1.8rem;
  color: var(--OffWhite);
}
.banner__text h4 {
  letter-spacing: 1px;
  font-size: 1.4rem;
  color: var(--OffWhite);
}
.banner__text p {
  font-size: 1rem;
  color: var(--OffWhite);
  letter-spacing: 1px;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}
.banner__text p:hover {
  cursor: pointer;
  color: var(--yellow);
}
.banner__text p a i {
  font-size: 1rem;
  color: var(--OffWhite);
  margin-left: 0.5rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #072136;
  opacity: 0.7;
  z-index: 1;
}

/* 
==========================================================================
  QUICK LINK Section 
========================================================================== 
*/
.qlinks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  margin-bottom: 1.5rem;
}
.qlinks__wrapper {
  width: 85%;
  display: grid;
  grid-template-columns: 12fr;
  margin-bottom: 3rem;
}

.qlinks__title {
  margin: 1.5rem 0;
}
.qlinks__title h2 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #626874;
}

.qlinks__links {
  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 1.1fr 1.1fr;
}
.qlinks__links-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qlinks__links-item p {
  font-size: 0.9rem;
  margin-left: 0.2rem;
  color: #626874;
  transition: ease-in-out 0.4s;
}
.qlinks__links-item p:hover {
  cursor: pointer;
  color: var(--yellow);
}
