@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --dark-blue: #184366;
  --light-green: #0e987d;
  --light-blue: #5ab3c4;
  --yellow: #e8b20f;
  --orange: #e95b37;
  --OffWhite: #f8f8f8;
}

*,
*::before,
*::after {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.header {
  background-color: var(--dark-blue);
}
.header__menu ul {
  display: flex;
  list-style: none;
}

.header__menu ul li a {
  text-decoration: none;
  color: var(--OffWhite);
  padding: 1.5rem;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 4fr 8fr;
  width: 100vw;
  margin: auto;
  padding: 1rem 0;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  width: 150px;
  height: auto;
}
